
<main class="container">
  <section id="product-catalog">
    <h3 class="text-center">Catalog of goods</h3>
    <div class="row">
      <!-- Первая колонка -->
      <a *ngFor="let category of categories" routerLink="/sales/categories_with_items" class="col-md-4 category-column-link">
        <div class="category-column" (click)="onCategoryClick(category.categoryName)">
          <h4>{{ category.categoryName }}</h4>
          <ul>
            <li *ngFor="let subcategory of getSubcategoriesByCategoryId(category.categoryId)">
              {{ subcategory.subcategoryName }}
            </li>
          </ul>
        </div>
      </a>
    </div>
  </section>
</main>




