
/* Section */
#product-catalog {
  padding: 40px 0;
}

  #product-catalog h3 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
  }


.category-column-link {
  text-decoration: none; /* Убирает подчеркивание у ссылки */
  color: inherit; /* Наследует цвет текста */
  display: block; /* Делает ссылку блочным элементом */
}

.category-column {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-column-link:hover .category-column {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-column h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #007bff;
}

.category-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-column ul li {
  margin-bottom: 5px;
}

.category-column ul li a {
  text-decoration: none;
  color: #555;
}

.category-column ul li a:hover {
  text-decoration: underline;
}


.all-categories-link {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #28a745;
}

  .all-categories-link:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}





