<main class="container">
  <section id="product-catalog">
    <h3 class="text-center">Каталог товаров</h3>
    <div class="row">
      <!-- Первая колонка -->
      <div *ngFor="let category of categories" class="col-md-4 category-column">
        <h4>{{ category.categoryName }}</h4>
        <ul>
          <li *ngFor="let subcategory of getSubcategoriesByCategoryId(category.categoryId)">
            {{ subcategory.subcategoryName }}
          </li>
        </ul>
        <a href="#" class="all-categories-link">Все категории</a>
      </div>
    </div>
  </section>
</main>




