<div class="message-container">
  <!-- Вывод сообщений -->
  <ul class="message-list">
    <li *ngFor="let message of messages" class="message-item">
      {{ message.messageText }}
    </li>
  </ul>

  <!-- Форма для отправки сообщения -->
  <form class="message-form" (ngSubmit)="sendMessage()">
    <textarea class="message-input" [(ngModel)]="newMessageText" name="newMessageText" placeholder="Введите сообщение"></textarea>
    <button type="submit" class="send-button">Отправить</button>
  </form>
</div>

