<!-- footer.component.html -->

<footer>
  <div class="container">
    <p>
      <span>&copy; 2024 Hospital. All rights reserved.</span>
      <span class="contact-info">
        Contact information: +123456789 | info&#64;example.com<br />
        <span class="social-icons">
          <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/instagram.png" alt="Instagram" class="icon">
          </a>

          <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/facebook.png" alt="Facebook" class="icon">
          </a>
        </span>
      </span>
    </p>
    <p>
      <a href="#">Privacy Policy</a> |
      <a href="#">Conditions of Use</a>
    </p>
  </div>
</footer>




