footer {
  background-color: #0073e6; /* Синий цвет фона */
  color: white; /* Белый цвет текста */
  padding: 20px 0; /* Отступы сверху и снизу */
  width: 100%; /* Ширина футера на всю ширину окна */
  position: fixed; /* Позиционирование футера */
  bottom: 0; /* Прижатие к нижнему краю окна */
}

.container {
  max-width: 1200px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Автоматическое выравнивание по центру */
}

/* Нижний отступ для контента, чтобы он не перекрывался футером */
.content {
  margin-bottom: 60px; /* Высота футера + немного отступа */
}

/* Стили для ссылок в футере */
footer a {
  color: white;
  text-decoration: none;
}

  footer a:hover {
    text-decoration: underline;
  }
/* styles.css */

.contact-info {
  float: right;
  margin-left: 20px; /* Добавим отступ слева, чтобы контактная информация не сливалась с другим содержимым */
}

/* styles.css */

.contact-info {
  float: right;
  margin-left: 20px;
}

.social-icons {
  margin-left: 10px;
}

  .social-icons a {
    text-decoration: none;
    margin-left: 10px;
  }

.icon {
  width: 30px; /* Ширина иконки */
  height: 30px; /* Высота иконки */
}

  .icon:hover {
    opacity: 0.8; /* Эффект при наведении */
  }


