.navbar {
  background-color: #343a40 !important;
  padding: 0.5rem 1rem;
}

.nav-link {
  color: #ffffff !important;
  position: relative;
  font-size: 1.25rem;
  text-decoration: none;
}

  .nav-link i {
    font-size: 1.5rem;
  }

.badge {
  font-size: 0.75rem;
  padding: 0.5em;
  top: -0.5em;
  right: -0.5em;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}
