/* Section */
#product-catalog {
  padding: 40px 0;
  background-color: #f8f9fa;
}

  #product-catalog h3 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
  }

/* Column */
.col-md-3, .col-md-9 {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.col-md-3 {
  flex: 0 0 23%;
  max-width: 23%;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

/* Category Item */
.category-item h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #007bff;
}

.category-item ul {
  list-style-type: none;
  padding: 0;
}

  .category-item ul li {
    margin-bottom: 5px;
  }

    .category-item ul li input {
      margin-right: 5px;
    }

    .category-item ul li label {
      cursor: pointer;
    }

/* Product List */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Product Item */
.product-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 0 0 calc(33.333% - 20px); /* Adjust width of items */
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
}

  .product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .product-item h4 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #007bff;
  }

  .product-item p {
    font-size: 16px;
    color: #555;
  }

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.buy-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

  .buy-button:hover {
    background-color: #0056b3;
  }

/* Media Queries */
@media (max-width: 768px) {
  .col-md-3, .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.product-column-link {
  text-decoration: none; /* Убирает подчеркивание у ссылки */
  color: inherit; /* Наследует цвет текста */
  display: block; /* Делает ссылку блочным элементом */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 380px; /* Добавляем отступ снизу для контейнера */
}

/* Text Center */
.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  box-sizing: border-box; /* Включение внутренних отступов в общую ширину */
  margin-bottom: 20px; /* Нижний отступ для колонок */
}
