
  <main class="container">
    <section id="product-catalog">
      <h3 class="text-center">Каталог товаров</h3>
      <div class="row">
        <!-- Категории -->
        <div class="col-md-3 category-item">
          <h4>{{selectedCategory}}</h4>
         
          <ul>
            <li *ngFor="let subcategory of subcategories">
              <a href="#">{{ subcategory.subcategoryName }}</a>
            </li>
          </ul>
        </div>
        <!-- Товары -->
        <div class="col-md-9 products">
          <div class="product-item">
            <img src="product1.jpg" alt="Product 1" class="product-image">
            <h4>Препарат А</h4>
            <p>Описание препарата А и его применение.</p>
            <p class="price">100 грн</p>
            <button class="buy-button">Купить</button>
          </div>
          <div class="product-item">
            <img src="product2.jpg" alt="Product 2" class="product-image">
            <h4>Препарат Б</h4>
            <p>Описание препарата Б и его применение.</p>
            <p class="price">150 грн</p>
            <button class="buy-button">Купить</button>
          </div>
          <div class="product-item">
            <img src="product3.jpg" alt="Product 3" class="product-image">
            <h4>Препарат В</h4>
            <p>Описание препарата В и его применение.</p>
            <p class="price">200 грн</p>
            <button class="buy-button">Купить</button>
          </div>
        </div>
      </div>
    </section>
  </main>

