
<!-- manage-orders.component.html -->
<div *ngIf="selectedDoctor" class="appointment-container">
  <h2>Doctor's appointment: {{ selectedDoctor.name }}</h2>
  <form (ngSubmit)="makeAppointment()" class="appointment-form">
    <div class="form-group">
      <label for="appointmentDate">Date and time of admission:</label>
      <input type="datetime-local" id="appointmentDate" [(ngModel)]="appointmentDate" name="appointmentDate" required>
    </div>
    <button type="submit" class="submit-button">Sign up</button>
  </form>
</div>
<div *ngIf="!selectedDoctor" class="no-doctor-selected">
  <p>Select a doctor to make an appointment.</p>
</div>
