<!-- shopping-cart.component.html -->
<div class="container shopping-cart my-5">
  <h2 class="text-center mb-4">Shopping Cart</h2>
  <div *ngIf="cartItems.length === 0" class="alert alert-info text-center">
    Your shopping cart is empty.
  </div>
  <div *ngIf="cartItems.length > 0">
    <div class="cart-item mb-4 p-3 border rounded shadow-sm bg-white" *ngFor="let cartItem of cartItems">
      <div class="row align-items-center">
        <div class="col-md-3">
          <img [src]="cartItem.item.photo" [alt]="cartItem.item.itemName" class="img-fluid rounded">
        </div>
        <div class="col-md-3">
          <h4>{{ cartItem.item.itemName }}</h4>
          <p class="text-muted">{{ cartItem.item.itemDescription }}</p>
        </div>
        <div class="col-md-2">
          <p class="h5"><strong>{{ cartItem.item.unitPrice * cartItem.quantity }} грн</strong></p>
        </div>
        <div class="col-md-2">
          <label for="quantity-{{cartItem.item.itemId}}" class="form-label">Quantity:</label>
          <input type="number" id="quantity-{{cartItem.item.itemId}}" class="form-control" [(ngModel)]="cartItem.quantity" [max]="cartItem.item.quantityAvailable" (change)="validateQuantity(cartItem); updateCart()">
          <p class="text-muted">Available: {{ cartItem.item.quantityAvailable }}</p>
        </div>
        <div class="col-md-2 text-center">
          <button class="btn btn-danger w-100" (click)="removeFromCart(cartItem.item.itemId)">Delete</button>
        </div>
      </div>
    </div>
    <div class="text-center">
      <h3 class="mb-3">Total Amount: {{ totalPrice }} грн</h3>
      <button class="btn btn-outline-danger me-2" (click)="clearCart()">Empty your cart</button>
      <button class="btn btn-success" [routerLink]="['/sales/checkout']">Place an order</button>
    </div>
  </div>
</div>
