<div class="container">
  <h2>Authorization</h2>
  <form id="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" autocomplete="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" autocomplete="current-password" required>
    </div>
    <div class="form-group">
      <label for="role">role:</label>
      <select id="role" name="role" [(ngModel)]="role" required>
        <option value="doctor">Doctor</option>
        <option value="manager">Manager</option>
        <option value="customer">Customer</option>
      </select>
    </div>
    <button type="submit">Sign in</button>
  </form>
  <p class="register-link">Not registered? <a routerLink="/registration">Sign up</a></p>
</div>
