<main class="container">
  <div id="about">
    <h3 class="text-center">О нас</h3>
    <div class="row">
      <div class="col-md-6">
        <h4>Наша миссия</h4>
        <p>Мы стремимся предоставлять высококачественные медицинские услуги, способствуя здоровью и благополучию наших пациентов. Наша миссия - быть лидером в области здравоохранения, объединяя профессионализм, инновации и человечность.</p>
        <h4>Наша история</h4>
        <p>С большими пополнениями в нашем штате, открытием новых отделений и внедрением современных технологий, мы продолжаем расти и развиваться, чтобы лучше удовлетворять потребности наших пациентов. Начиная с основания в 1990 году, наша больница выросла в одного из лидеров в сфере медицинских услуг.</p>
        <h4>Наша команда</h4>
        <p>Наши врачи и медицинский персонал являются опытными специалистами, обладающими высоким уровнем профессионализма и заботы о пациентах. Мы стремимся создать дружественную и поддерживающую атмосферу для наших сотрудников, поскольку мы верим, что счастливые сотрудники делают лучшие результаты для наших пациентов.</p>
      </div>
      <div class="col-md-6">
        <img src="assets/img/hospital/hospital_1.jpeg" alt="Hospital Image 1" class="img-fluid">
      </div>
    </div>
  </div>
</main>

