

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.patient-name {
  font-weight: bold;
  flex: 1;
}

.appointment-date,
.appointment-time {
  color: #555;
  flex: 0.5;
  text-align: right;
}
