<header>
  <div class="main-menu">
    <a class="navbar-brand" href="/about">Логотип</a>
    <nav>
      <ul>
        <li><a routerLink="/home">Главная</a></li>
        <li><a routerLink="/about">О нас</a></li>
        <li><a routerLink="/services">Услуги</a></li>
        <li><a routerLink="/doctors">Врачи</a></li>
        <li><a routerLink="/sales">Покупки</a></li>
        <li><a routerLink="/contact">Контакты</a></li>
        <li><a routerLink="/authorization" class="login-button">Войти</a></li>
      </ul>
    </nav>
  </div>
</header>
