<header>
  <div class="main-menu">
    <a class="navbar-brand" href="/about">Logo</a>
    <nav>
      <ul>

        <li><a routerLink="/about">About us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/doctors">Doctors</a></li>
        <li><a routerLink="/sales">Shopping</a></li>
  
        <li *ngIf="isLoggedIn" class="user-info">
          <a routerLink="/profile" class="profile-link">{{ fullName }} ({{ userType }})</a>
          <button class="logout-button" (click)="logout()">Log out</button>
        </li>
        <li *ngIf="!isLoggedIn"><a routerLink="/authorization" class="login-button">Log in</a></li>
      </ul>
    </nav>
  </div>
</header>




