<div class="container">
  <h2>Registration</h2>
  <form id="registrationForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="firstName">Name:</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="customer.firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Surname:</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="customer.lastName" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="customer.email" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="tel" id="phone" name="phone" [(ngModel)]="customer.phone">
    </div>
    <div class="form-group">
      <label for="address">address:</label>
      <input type="text" id="address" name="address" [(ngModel)]="customer.address">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="customer.passwordHash" required>
    </div>

    <button type="submit">Sign up</button>
  </form>
</div>
