<main class="container">
  <section id="medical-products">
    <h3 class="text-center">Медицинские Товары</h3>
    <div class="row">
      <div class="col-md-4 product-item">
        <img src="assets/products/product1.jpg" alt="Товар 1" class="img-fluid">
        <h4>Товар 1</h4>
        <p>Описание товара 1. Это может быть медицинское оборудование или медикаменты.</p>
        <p class="price">Цена: 1000 руб.</p>
        <button class="btn btn-primary">Купить</button>
      </div>
      <div class="col-md-4 product-item">
        <img src="assets/products/product2.jpg" alt="Товар 2" class="img-fluid">
        <h4>Товар 2</h4>
        <p>Описание товара 2. Это может быть медицинское оборудование или медикаменты.</p>
        <p class="price">Цена: 2000 руб.</p>
        <button class="btn btn-primary">Купить</button>
      </div>
      <div class="col-md-4 product-item">
        <img src="assets/products/product3.jpg" alt="Товар 3" class="img-fluid">
        <h4>Товар 3</h4>
        <p>Описание товара 3. Это может быть медицинское оборудование или медикаменты.</p>
        <p class="price">Цена: 1500 руб.</p>
        <button class="btn btn-primary">Купить</button>
      </div>
    </div>
  </section>
</main>
